
process {
    withLabel: porky {
        cpus = 16
        memory = 32.GB
    }
    withName:unicycler {
        container = "collingswortht/unicycler:latest"
    }
    withName:annotate {
        container = "collingswortht/annotate:latest"
    }
}

docker {
    enabled = true
    remove = true
}

manifest {
    author = "Timothy D. Collingsworth"
    description = "Pipeline generates an annotated draft assembly from Illumina short read and Nanopore long read data."
    homePage = ""
    mainScript = "assemble-annotate.nf"
    version = "1.0.0"
}

trace {
    enabled = true
}

timeline {
    enabled = true
}

report {
    enabled = true
}
